<div class="container py-4">
  <div class="row justify-content-center">
    <div class="text-center col-10 col-md-6">
      <h3>LFSR</h3>
  </div>
</div>
<div class="container my-3">
  <div class="row py-3 justify-content-center">
    <div class="col-10 col-md-8">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="col-6">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Round: </strong>{{round}}</li>
          <li class="list-group-item"><strong>Feedback Path: </strong>{{p|json}}</li>
          <li class="list-group-item"><strong>Initial State: </strong>{{s|json}}</li>
          <li class="list-group-item"><strong>Feedback Bit: </strong>{{f}}</li>
          <li class="list-group-item"><strong>Output: </strong>{{out}}</li>
        </ul>
      </div>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-success" (click)="onNextRound()">Next Round</button>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="col-10">
      <!-- <p>States</p>
      <p>{{states|json}}</p> -->  
      <div class="table-responsive">
        <app-table [states]="states"></app-table>
      </div>
    </div>
  </div>
</div>



