<div class="container my-3">
  <div class="row py-3 justify-content-center">
    <div class="col-10 col-md-8">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="col-8">
      <p>Round: {{round}}</p>
      <p>
        p: {{p|json}}
      </p>
      <p>
        s: {{s|json}}
      </p>
      <p>f: {{f}}</p>
      <p>output: {{out}}</p>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-success" (click)="onNextRound()">Next Round</button>
    </div>
  </div>
  <div class="row py-3 justify-content-center">
    <div class="col-10">
      <p>States</p>
      <p>{{states|json}}</p>
    </div>
  </div>
</div>



