<div class="container py-4">
  <div class="row justify-content-center">
    <div class="text-center col-10 col-md-6">
      <h3>Extended Euclidean Algorithm</h3>
  </div>
</div>
<div class="container my-3">

  <div class="row py-3 justify-content-center">
    <div class="col-10 col-md-8">
      <h3>Inputs</h3>
    </div>
    <div class="col-10 col-md-8">
      i: {{i|json}}
    </div>
    <div class="col-10 col-md-8">
      Rs: {{r|json}}
    </div>
    <div class="col-10 col-md-8">
      Ss: {{s|json}}
    </div>
    <div class="col-10 col-md-8">
      Ts: {{t|json}}
    </div>    
  </div>

  <div class="row py-3 justify-content-center">
    <div class="col-10 col-md-8">
      <h3>Result</h3>
    </div>
    <div class="col-10 col-md-8">
      gcd({{r[0]}},{{r[1]}}) = {{s[i-1]}}*{{r[0]}} + {{t[i-1]}}*{{r[1]}} = {{r[i-1]}} 
    </div>   
  </div>
</div>
