<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">clock</th>
      <th scope="col">register 1</th>
      <th scope="col">register 2</th>
      <th scope="col">register 3</th>
      <th scope="col">register 4</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let state of states; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{state[0]}}</td>
      <td>{{state[1]}}</td>
      <td>{{state[2]}}</td>
      <td>{{state[3]}}</td>
    </tr>

  </tbody>
</table>